*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #459374;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    overflow: hidden;
}

.game-board-container{
    display: flex;
    padding: 0 0.5vw;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30vw;
    justify-content: center;
    background-color: #2a3335;
    border-radius: 0.5vw;
    outline-color: #1b2529;
    outline-width: 0.3vw;
    outline-style: solid;
    position: fixed;
    top: -1vw;
    padding-top: 2vw;
    gap: 1vw;
    padding-bottom: 1.5vw;
}

.game-tile{
    width: 5vw;
    height: 5vw;
    background-color: #1b2529;
    border-radius: 0.5vw;
    box-shadow: 0vw 0.3vw 0vw 0vw #0a1313;
    font-size: 1vw;
}